DATABASE_URL=postgresql://postgres.[project-ref]:[password]@aws-0-eu-west-2.pooler.supabase.com:6543/postgres
PORT=3000
HOST=localhost
ANICORE_SYNC_MONITOR=
ANICORE_SYNC_MONITOR_CODE=
ANICORE_SYNC_MONITOR_DIR=data/sync-monitor
TMDB_API_KEY=
TVDB_API_KEY=
TVDB_PIN=
